body {
  font-family: "Source sans pro";
  background: #333;

  /* Make the body 80% the width of the window when you have to (i.e. the window is shrunk to less than 700px), but make the body 700px wide maximum when the window is big enough to do so (700px or larger). */
  max-width: 700px;
  width: 80%;

  /* This solution was halfway there. You needed to add max-width for larger windows.
  width: 60%; */

  color: #c4c0c0;
  margin: 20px auto;
  border: 20px solid #6fb1dd;
  padding: 20px;
}

/* Just add the padding in the body element. Wrapping everything in a div and then giving it an id like this was unnecessary:

#articles {
  padding-left: 16px;
  padding-right: 16px;
} */

.post {
  margin-bottom: 20px;
}

.date {
  /* rem is a nice way to do proportional fonts without having to worry about what's nested inside of what (unlike using em, which is relative to the parent element's dictated font size) */
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #ef7f34;
}

h2 {
  font-weight: 700;
  font-size: 2.0rem;
}

.quote {
  border-left: 5px solid #ef7f34;
  padding-left: 5px;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(51, 255, 0, 0), rgba(51, 255, 0, 0.75), rgba(51, 255, 0, 0));
}